@use 'sass:color';

$button-color: #CC6237; // Laranja principal

// RESET E FONTES GLOBAIS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $button-color;
}

body {
  background-color: #F9FBFF;
}

// SECTION DE FORMULÁRIO
#form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    width: 780px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: white;
    box-shadow: 0 2px 100px 70px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    line-height: 14px;
    input {
      &::placeholder {
        color: #657593; // Cor desejada
      }
    
      &::-webkit-input-placeholder {
        color: #657593;
      }
    
      &:-ms-input-placeholder {
        color: #657593;
      }
    
      &::-ms-input-placeholder {
        color: #657593;
      }
    }

    h1 {
      margin: 10px 0 20px 20px;
      font-size: 26px;
      font-weight: 700;
      color: $button-color;
      line-height: 2px;

      span {
        line-height: 10px;
      }
    }

    input,
    label,
    span,
    button {
      margin-left: 20px; 
      
    }

    input {
      margin-bottom: 10px;
      color: black;
      background-color: #F6F6F6;
      border: none;
      padding: 15px;
        
    }

    label {
      font-size: 16px;
      font-weight: 600;
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: #657593;
      margin-bottom: 20px;
      margin-top: -15px;
      margin-right: -2px;
    }

    button {
      margin-top: 20px;
    }

    #view-pass {
      background-image: url('./assets/images/view.png');
      background-repeat: no-repeat;
      height: 18px;
      width: 30px;
      margin-left: 273px;
      margin-top: -50px;
    }
  }
}

// INPUT E BOTÃO PADRÃO
input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  color: #657593;
  border: 1px solid #ccc;
  border-radius: 120px;
  

  &:focus {
    outline: none;
  }
}

button {
  width: 300px;
  height: 45px;
  padding: 10px;
  font-weight: 500;
  color: white;
  background-color: $button-color;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: color.scale($button-color, $lightness: -10%);
  }
}

// IMAGEM LATERAL DO FORMULÁRIO
#section-img {
  width: 52%;
  height: 80vh;
  margin-left: 30px;
  display: flex;
  background-color: $button-color;
  border-radius: 20px;
}

#img {
  margin-top: 240px;
  margin-left: -448px;
  width: 500px;
  height: 330px;
  background-image: url('./assets/images/estatica.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

// LOGO EM TELA DE LOGIN
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 20px;
}

.logo-login {
  width: 200px;
  height: 70px;
  margin-top: -50px;
  margin-right: 55px;
  background-repeat: no-repeat;
}

// LAYOUT GERAL
.layout {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

// ÁREA PRINCIPAL (MAIN)
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;

  header {
    padding: 2rem 3rem;
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ccc;

    h2 {
      margin: 0;
      margin-top: 30px;
      font-size: 1.25rem;
      font-weight: 700;
      color: #525151;
  

      strong {
        color: black;
      }
    }

    .welcome-letter {
      color: $button-color;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 27px;
    }
  }

  .content {
    padding: 2rem;
  }
  .event-form {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
  
    .form-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;
      gap: 20px;
      border: none;

      .events-search {
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 8px;
        padding: 10px;
        width: 250px;
        font-size: 14px;
        font-weight: 500;
        color: #cacaca;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        background-color: #cacaca27;
          svg {
            fill: white;
    
          }
        
  
        svg {
          width: 20px;
          height: 20px;
          fill: black;
          margin-bottom: -3px;
        }
      }
   
      .insert{
        display: flex;
        justify-content: flex-start;
        align-items: end;
        gap: 8px;
        padding: 10px;
        width: 150px;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        background-color: #CC6237;
          svg {
            fill: white;
          }
        
  
        svg {
          width: 17px;
          height: 17px;
          fill: black;
          margin-bottom: -1px;
        }
      }
  
      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
      }
  
      .search {
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 200px;
      }
    }
  
    .table-header, .table-row {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      gap: 10rem;
      padding: 0.5rem 0;
      align-items: center;
      border-bottom: 1px solid #d163282c;
    }
  
    .table-header {
      font-weight: bold;
      color: #888;
      font-family: 'Poppins', sans-serif;
       span {
        color: #CC623780;
       }
    }
  
    .table-row {
      border-bottom: 1px solid #d163282c;
        p {   
          color: #657593;
            .online {
              margin-right: 10px;
            }
        }
        .more {
          margin-left: 150px;
        }
    }
  
    .form-actions {
      margin-top: 1.8rem;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
  
      .proxima {
        background: transparent;
        color: #333;
        padding: 0.7rem 1.2rem;
        border-radius: 20px;
        cursor: pointer;
        background-color: #cacaca27;
        border: none;
      }
      .button-table {
          display: flex;
          color: black;
          border: none;
          padding-top: 10px;
          padding-bottom: 12px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 25px;
          cursor: pointer;
          background-color: #cacaca27;
          justify-content: center;
          align-items: center;
          font-weight: 500;
            &:hover {
              background-color: #CC6237;
              color: white;
            }
      }
  
      .anterior {
        background: #D16428;
        color: white;
        border: none;
        padding: 0.7rem 1.2rem;
        border-radius: 20px;
        cursor: pointer;
  
        &:hover {
          background-color: #b3521f;
        }
      }
    }
  }
  
  
}


// MENU LATERAL (ASIDE)
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  margin-left: 20px;
  background-color: white;
  border-right: 1px solid #cacaca;
  font-family: 'roboto', sans-serif;

  #logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 10px;
    width: 300px;
    height: 20px;
  }

  #logo {
    width: 260px;
    height: 70px;
    margin-top: 60px;
    background-image: url('./assets/images/Logo.png');
    background-repeat: no-repeat;
  }

  #menu {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 20px;
    gap: 15px;

    span {
      font-size: 16px;
      font-weight: 600;
      color: #A3A3A3;
      margin: 20px 0 0 10px;
    }

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px;
      width: 200px;
      font-size: 17px;
      font-weight: 00;
      margin: 5px 5px 0 0;
      color: black;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 10px;

      &:hover {
        background-color: $button-color;
        color: white;

        svg {
          fill: white;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: black;
      }
    }
  }
  
    }
    #menu2 {
      border-top: 1px solid #A3A3A3;
      margin-top: auto;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 220px;
    
      .profile {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    
        svg {
          width: 50px;
          height: 50px;
          fill: black;
          border: 2px solid #CC6237;
          border-radius: 20px;
        }
    
        .info {
          display: flex;
          flex-direction: column;
    
          .name {
            font-weight: 700;
            font-size: 1rem;
            color: black;
          }
    
          .role {
            font-size: 0.875rem;
            color: #A3A3A3;
          }
        }
      }
    
      .menu-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 12px 16px;
        width: 200px;
        font-size: 17px;
        font-weight: 600;
        margin-left: 3px;
        background-color: transparent;
        border: none; // sem borda
        border-radius: 10px;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      
        svg {
          width: 15px;
          height: 15px;
          margin-bottom: 3px;
        }
      
        span {
          color: black;
        }
      
        &:hover {
          background-color: #CC6237;
          
          span {
            color: white;
          }
        }
      }      
      
    }

// ÍCONES E CLASSES AUXILIARES
.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 50px;
  margin-bottom: -47px;
}

.logo {
  margin-bottom: -80px;
  margin-right: 100px;
}

.events-icon {
  background-color: black;
  margin-bottom: -30px;
}
